# Скопіюйте цей файл у .env і заповніть значеннями.

# Порт серверу
PORT=3000

# Секрет для підпису сесій (рандомний рядок)
SESSION_SECRET=change-me-please-use-long-random-string

# Безкоштовний ключ RAWG.io: https://rawg.io/apidocs
# Без ключа сервер відповідатиме статичною заглушкою з 12 ігор.
RAWG_API_KEY=81b45366b066443a874759fcd7ebf81a

# Скільки секунд кешувати відповіді RAWG у SQLite
RAWG_CACHE_TTL_SECONDS=86400

# (необов'язково) встановіть NODE_ENV=production щоб увімкнути secure cookies
NODE_ENV=development
